dicts.py
ifhow.py
lists.py
lists2.py
module_test
OrgStrings.py
static_type.py
strings.py
variable.py
/__pycache__
cycle.py
function.py
tic-tac.py
nextspace.py
test.py
funcWithDifferentParams.py
recursion.py
buildInFunction1.py
buildInFunction2.py
funcPract1.py
calc.py
uniq.py
palWithSlice.py
test1.py
test2.py
